.positions {
    background: url(../img/about-us/positions/open-positions-bg.png);
    padding: 65px 24px 90px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.positions__title-container {
    padding: 0px 15px;
    background: url(../img/about-us/positions/positions-title-shadow.svg);
    background-position: 40% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.positions__title {
    color: var(--title-color);
    font-family: var(--title-font);
    font-size: 34px;
    text-align: center;
}

.positions__title-description {
    color: var(--subtitle-color);
    font-family: var(--text-font);
    font-size: 19px;
    text-align: center;
    margin-top: 25px;
}

.positions__job-cards {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    font-family: var(--text-font);
}

.positions__job {
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 31px;
    margin-top: 50px;

}

.positions__top-job {
    margin-top: 0px;
}

.positions__list-circle {
    width: 9px;
}

.positions__job-title {
    font-size: 22px;
    font-weight: normal;
    color: var(--title-color);
}

.positions__job-category {
    margin-top: 20px;
    color: var(--text-color);
    font-size: 14px;
}

.positions__job-requirements {
    color: var(--text-color);
    font-size: 17px;
    margin-top: 50px;
}

.positions__requirement-container {
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: var(--text-font);
    color: var(--text-color);
    margin-bottom: 16px;
}

.positions__last-requirment {
    margin-bottom: 0px;
}

.positions__job-salary {
    margin-top: 50px;
    font-size: 34px;
    font-family: var(--title-font);
    color: var(--title-color);
}

.positions__job-currency {
    font-size: 20px;
    color: var(--brand-color);
}

.positions__job-dot {
    color: var(--brand-color);
}

.positions__job-link-container {
    display: inline-block;
    padding: 20px 35px;
    border-radius: 28.5px;
    background: linear-gradient(90deg, #db5d5e, #f1b351);
    margin-top: 50px;
}

.positions__job-link-container:hover {
    background: linear-gradient(90deg, #f1b351, #db5d5e);
}

.positions__job-link {
    color: var(--button-text-color);
    font-size: 15px;
}

@media (min-width: 768px) {
    .positions__job {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 40px;
    }

    .positions__job-link-container {
        margin-top: 0px;
        margin-left: 15px;
        flex-basis: 0;
        flex-grow: 1;
    }

    .positions__job-requirements,
    .positions__job-salary {
        margin-top: 0px;
        padding-left: 15px;
        padding-right: 15px;
        flex-basis: 0;
        flex-grow: 1;
    }

    .positions__job-dot,
    .positions__job-salary {
        font-size: 48px;
    }

    .positions__job {
        margin-top: 30px;
    }

    .positions__title {
        font-size: 48px;
    }

    .positions__name-container {
        width: 32%;
    }

}