.hiring {
    background: url(../img/about-us/hiring/hiring-bg.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.hiring__information {
    padding: 90px 0px 40px;
    margin: auto;
}

.hiring__info-container {
    padding: 0px 30px;
    margin-top: 60px;
}

.hiring__title {
    font-family: var(--title-font);
    color: var(--title-color);
    font-size: 34px;
}

.hiring__title-container {
    background: url(../img/about-us/hiring/title-shadow.svg);
    background-position: 40% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }

.hiring__intro {
    font-family: var(--text-font);
    color: var(--subtitle-color);
    font-size: 19px;
    font-weight: 700;
    margin-top: 25px;
}

.hiring__team-description,
.hiring__description {
    font-family: var(--text-font);
    color: var(--text-color);
    font-size: 17px;
    margin-top: 25px;
}

.hiring__subtitle-description {
    font-family: var(--text-font);
    color: var(--text-color);
    font-size: 17px;
    margin-bottom: 25px;
}
.hiring__vision-description {
    font-family: var(--text-font);
    color: var(--text-color);
    font-size: 17px;
}

.hiring__underline {
    width: 10%;
    height: 3px;
    background-color: var(--brand-color);
    margin: 15px 0px;
}

.hiring__list {
    font-family: var(--text-font);
    font-size: 17px;
}

.hiring__subtitle {
    font-size: 18px;
    color: var(--title-color);
    font-family: var(--text-font);
}

.hiring__list-circle {
    width: 9px;
}

.hiring__circle-container {
    padding-top: 7px;
}

.hiring__list-item-container {
    display: flex;
    gap: 15px;
    margin-bottom: 16px;
}

.hiring__list-item {
    color: var(--text-color);
    font-family: var(--text-font);
    
}

.hiring__last-list-item-container {
    margin-bottom: 0px;
}

.hiring__send-cv-button {
    color: var(--button-text-color);
    font-size: 15px;
    font-family: var(--text-font);
}

.hiring__button-container {
    display: inline-block;
    padding: 20px 35px;
    border-radius: 28.5px;
    background: linear-gradient(90deg, #db5d5e, #f1b351);
    margin-top: 40px;
}

.hiring__button-container:hover {
    background: linear-gradient(90deg, #f1b351, #db5d5e);
}

.hiring__cards{
    padding: 40px 0px 60px;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1200px;
    gap: 24px;
}

.hiring__features {
    background-color: var(--block-bg-color);
    padding: 31px 25px;
    border-radius: 10%;
    margin: 0px 12.5px;
}

.hiring__image-container {
    background-color: var(--image-bg-color);
    width: 50px;
    padding: 12px;
    border-radius: 50%;
}

.hiring__card-title {
    color: var(--title-color);
    font-family: var(--title-font);
    font-size: 18px;
    font-weight: normal;
    margin-top: 20px;
}

.hiring__card-description {
    color: var(--text-color);
    font-family: var(--title-font);
    font-size: 17px;
}

.hiring__card-line {
    height: 3px;
    width: 15%;
    background-color: rgb(170, 32, 57);
    margin: 15px 0px;
}

@media (min-width: 768px) {
    .hiring__information {
        display: flex;
        flex-direction: row;
    }

    .hiring__info-container {
        flex-basis: 0;
        flex-grow: 1;
    }

    .hiring__title {
        font-size: 48px;
    }

    .hiring__subtitle {
        font-size: 21px;
    }

    .hiring__cards {
        flex-direction: row;
        gap: 0px;
    }

    .hiring__image-container {
        width: 70px;
        padding: 15px;
    }

    .hiring__features {
        padding: 40px 25px;
    }
}

