.case {
    width: 100%;
    margin-top: 50px;
    background-color: #23232b;
    display: flex;
    flex-direction: column;
}

.case__image {
    width: 100%;
    margin-bottom: 20px;
}

.cases {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 90px 0;
    text-align: center;
    background: url("../img/cases/cases-background.png");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.cases__title-container{
    background: url(../img/cases/cases_title-background.svg);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.cases__title {
    font-family: var(--title-font);
    font-size: 2.125rem;
    font-weight: 500;
    text-align: center;
    color: var(--title-color);
}

.cases__description {
    font-family: var(--text-font);
    font-size: 1.1875em;
    font-weight: 700;
    line-height: 1.745625em;
    text-align: center;
    margin-top: 20px;
    color: var(--subtitle-color);
}


.case {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    background-color: #23232b;
    width: fit-content;

}

.case__image {
    width: 100%;
    display: block;
}

.case__text-container {
    margin-top: 25px;
}

.case__category {
    font-family: var(--title-font);
    font-size: 0.68rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align: left;
    color: #f2b950;
    letter-spacing: 2.2px;
    padding: 15px 30px;
}

.case__heading {
    font-family: var(--title-font);
    color: var(--title-color);
    font-size: 1.375rem;
    font-weight: 400;
    text-align: left;
    padding: 15px 30px;
}

.case__description {
    font-family: var(--text-font);
    color: var(--text-color);
    font-size: 1.0625rem;
    font-weight: 400;
    text-align: left;
    padding: 15px 30px;
    line-height: 26px;
}

.case__link {
    font-family: Arial, sans-serif;
    color: var(--button-text-color);
    padding: 15px 30px;
    border-radius: 28.5px;
    cursor: pointer;
    gap: 20px;
    background: linear-gradient(90deg, rgb(242, 185, 80), rgb(218, 89, 95));
    font-size: 0.9375em;
    font-weight: 700;
    margin-top: 25px;
    text-decoration: none;
}

.case__link:hover {
    background: linear-gradient(90deg, rgb(218, 89, 95), rgb(242, 185, 80));
}


.case__text-container {
    width: 100%;
}

@media (min-width: 768px) {
    .case {
        flex-direction: row;
        margin: auto;
        width: 100%;
        background-color:#23232b;
        text-align: center;
    }
    .case__image {
        width: 45%;
        margin-right:0;
        margin-bottom: 0;
    }

    .case__text-container {
        width: 240%;
        margin:0;
        background-color: #23232b;
        background-size: cover;
    }

    .case__category{
        padding-left: 100px;
        padding-top: 100px;
    }

    .case__heading{
        padding-left: 100px;
        padding-top: 10px;
    }

    .case__description{
        padding-left: 100px;
        padding-top: 10px;
    }

    .cases__title {
        font-size: 3rem;
    }
}
