.news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 90px 0;
  background: url(../img/index/news/bg_news.png);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.news__content {
  margin: 0 20px;
}

.news__title {
  font-family: var(--title-font);
  font-size: 2.125rem;
  font-weight: 500;
  text-align: center;
  color: var(--title-color);
}

.news__title-container {
  background: url(../img/index/news/news-articles-shadow.svg);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.news__subtitle {
  font-family: var(--text-font);
  font-size: 1.1875em;
  font-weight: 700;
  line-height: 1.745625em;
  text-align: center;
  margin-top: 20px;
  color: var(--subtitle-color);
}

.news__articles {
  display: grid;
  grid-template-columns: 1fr;
  grid: 1;
  margin-left: 15px;
  margin-right: 15px;
}

.articles__item {
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 50px;

}

.articles__date {
  font-family: var(--text-font);
  color: var(--brand-color);
  font-size: 0.6875em;
  font-weight: 700;
  letter-spacing: 0.1375em;
  line-height: 0.9625em;
}

.articles__date-container {
  margin-top: 20px;
}

.articles__title,
.articles__content,
.articles__button {
  font-family: var(--text-font);
}

.articles__title {
  color: var(--title-color);
  margin-top: 20px;
  font-weight: 400;
  font-size: 1.375em;
}

.articles__content {
  color: var(--text-color);
  margin-top: 20px;
  font-size: 1.0625em;
  line-height: 1.63em;
}

.articles__button {
  color: var(--button-text-color);
  padding: 21px 34px;
  border-radius: 28.5px;
  cursor: pointer;
  background: var(--buttons-bg-color);
  font-size: 0.9375em;
  font-weight: 700;
}

.articles__button:hover {
  background: var(--buttons-bg-color-hover);
}

.articles__image {
  border-radius: 10%;
  margin-top: 20px;
}

.articles__image-cropped {
  width: 100%;
  height: 353px;
  object-fit: cover;
  object-position: 50% 13%;
  border-radius: 10%;
}

.articles__image-cropped-container {
  overflow: hidden;
  margin-top: 20px;
}

.articles__button-container {
  margin-top: 35px;
}

@media (min-width: 768px) {
  .news__articles {
    grid-template-columns: 1fr 1fr;
  }

  .news__title {
    font-size: 2.5625rem;
  }

  .news__content {
    margin: auto;
  }

  .articles__title {
    font-size: 1.4375em;
  }
}

@media (min-width: 992px) {
  .news__articles {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .news__title {
    font-size: 3rem;
  }

  .news__content {
    margin: auto;
  }

  .articles__title {
    font-size: 1.5em;
  }
}