.brands {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.brands__title__container {
    background-color: rgb(130, 28, 92);
    text-align: center;
    line-height: 26.01px;
    padding-top: 90px;
    padding-bottom: 90px;
    background-image: url(../img/index/brands/brands_bg.png);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.brands__title {
    color: #fff;
    font-weight: 600;
    font-size: 58px;
    font-family: var(--title-font);
    line-height: 63.22px;
    padding: 0 24px;
    vertical-align: baseline;
}

.brands__subtitle {
    color: rgba(255, 255, 255, 0.77);
    font-family: var(--text-font);
    font-size: 19px;
    padding: 0 24px;
    vertical-align: baseline;
    margin-top: 25px;
}

.brands__carousel {
    background-color: var(--block-bg-color);
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px; 
    text-align: center;
    width: auto;
}

.brands__carousel-item {
    box-sizing: content-box;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    height: 165.792px;
    width: 359px;
    
    text-align: center;
}

.brands__carousel-item-container { 
    box-sizing: content-box;
    height: 125.792px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.carousel {
    width: 100%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}




.brands__carousel-item-image {
    background-color: var(--image-bg-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-sizing: content-box;
    margin: auto;
    object-fit: contain;
    object-position: 50% 50%;
    height: 125.792px;
}

