.events {
    background: url(../img/index/events/background-image.png);
    padding: 90px 15px;
}

.events__title {
    color: var(--title-color);
    font-family: var(--title-font);
    font-size: 34px;
    text-align: center;
}

.events__description {
    color: var(--subtitle-color);
    font-family: var(--text-font);
    text-align: center;
    font-size: 19px;
    margin-bottom: 20px;
    margin-top: 25px;
}

.events__event-description {
    color: var(--button-text-color);
    font-size: 18px;
    margin-top: 20px;
}

.events__event-title {
    color: var(--brand-color);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
}

.events__title-container {
    background: url(../img/index/events/events-title-shadow.svg);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }

.events__event-information {
    padding: 31px 27px;
    font-family: var(--text-font); 
    height: 50%;
}

.events__event {
    background-color: var(--block-bg-color);
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.events__list-circle {
    width: 9px;
}

.events__date-container, .events__time-container {
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: var(--text-font);
    color: var(--text-color);
    font-size: 14px;
}

.events__date-container {
    margin-top: 25px;
}

.events__time-container {
    margin-top: 15px;
}

.events__button-container {
    display: inline-block;
    padding: 15px 30px;
    border-radius: 28.5px;
    background: linear-gradient(90deg, #db5d5e, #f1b351);
    margin-top: 35px;
}

.events__button-container:hover {
    background: linear-gradient(90deg, #f1b351, #db5d5e);
}

.events__event-signup-link {
    color: var(--button-text-color);
    font-size: 15px;
}

.events__list {
    display: grid;
}

@media (min-width: 768px) {
    .events__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .events__title {
        font-size: 41px;
    }
}

@media (min-width: 992px) {
    .events__event {
        display: flex;
        flex-direction: row;
    }
    .events__image-container {
        width: 50%;
        display: flex;
    }
    .events__event-information {
        width: 50%;
    }
    .events__image {
        object-fit: cover;
    }
}