

.cases {
    text-align: center;
    margin: 20px;
}

.cases__title {
    font-family: var(--title-font);
    color: black;
    font-size: 2.125rem;
    font-weight: 700;
}

.cases__description {
    font-family: var(--title-font);
    color: black;
    font-weight: 600;
    margin-top: 25px;
    font-size: 1.2rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.case {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: #23232b;
    width: 272px;
}

.case__image {
    width: 100%;
    display: block;
}


.case__text-container {
    margin-top: 25px;
}

.case__category {
    font-family: var(--title-font);
    font-size: 0.68rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align: left;
    color: #f2b950;
    letter-spacing: 2.2px;
    padding: 15px 30px;
}

.case__heading {
    font-family: var(--title-font);
    color: var(--title-color);
    font-size: 1.375rem;
    font-weight: 400;
    text-align: left;
    padding: 15px 30px;
}

.case__description {
    font-family: var(--text-font);
    color: var(--text-color);
    font-size: 1.0625rem;
    font-weight: 400;
    text-align: left;
    padding: 15px 30px;
    line-height: 26px;
}

.case__link {
    font-family: var(--title-font);
    color: var(--button-text-color);
    padding: 15px 30px;
    border-radius: 28.5px;
    cursor: pointer;
    gap: 20px;
    background: linear-gradient(90deg, rgb(242, 185, 80), rgb(218, 89, 95));
    font-size: 0.9375em;
    font-weight: 700;
    margin-top: 25px;
    text-decoration: none;
}

.case__link:hover {
    background: linear-gradient(90deg, rgb(218, 89, 95), rgb(242, 185, 80));
}

@media (min-width:786px){
    .cases-title {
        font-size: 2.5625rem;
    }

    /* Your existing styles for larger screens */
    /* ... */

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .case {
        width: 100%; /* Make the cases span the full width of the container */
        max-width: 300px; /* Set a maximum width to prevent them from getting too wide */
        display: flex;
        flex-direction: row; /* Display the image and text in a row */
        align-items: center; /* Align items vertically in the center */
    }

    .case__image {
        width: 40%; /* Adjust the image width as needed */
    }

    .case__text-container {
        width: 60%; /* Adjust the text container width as needed */
        padding-left: 20px; /* Add some space between the image and text */
    }






}