.brands {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.brands__title__container {
    background-color: rgb(130, 28, 92);
    text-align: center;
    line-height: 26.01px;
    padding-top: 90px;
    padding-bottom: 90px;
    background-image: url(../img/index/brands/brands_bg.png);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.brands__title {
    color: #fff;
    font-weight: 600;
    font-size: 58px;
    font-family: var(--title-font);
    line-height: 63.22px;
    padding: 0 24px;
    vertical-align: baseline;
}

.brands__subtitle {
    color: rgba(255, 255, 255, 0.77);
    font-family: var(--text-font);
    font-size: 19px;
    padding: 0 24px;
    vertical-align: baseline;
    margin-top: 25px;
}

.brands__carousel {
    background-color: var(--block-bg-color);
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px; 
    text-align: center;
}

.brands__carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.brands__carousel-inner {
    display: flex;
    flex-direction: row; 
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.brands__carousel-item {
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    height: 102px;
    width: auto;
    text-align: center;
}

.brands__carousel-item-image-container {
    padding-right: 16px;
    padding-left: 16px;
    background-color: var(--image-bg-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.brands__carousel-item-image {
    
    box-sizing: border-box;
    margin: auto;
    object-fit: contain;
    object-position: 50% 50%;
    height: 72px;
}


.brands__buttons-container-next {
    background-color: black;
    color: white;
    position: relative;
    right: 45px;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: flex;
}

.brands__buttons-container-prev {
    background-color: black;
    color: white;
    position: relative;
    left: 45px;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: flex;
}

.brands__carousel-control-btn {
    text-align: center;
    height: 25px;
    width: 25px;
    align-items: center;
}

@media (min-width: 320px) {
    .brands__carousel-item {
        width: 250px; 
    }
} 

@media (min-width: 470px) {
    .brands__carousel-item {
        width: 400px; 
    }
} 

@media (min-width: 768px) {
    .brands__carousel-item {
        width: 200px; 
    }
} 

@media (min-width: 992px) {
    .brands__carousel-item {
        width: 167px;
    }
} 

@media (min-width: 1198px) {
    
    .brands__carousel-item {
        width: 208px;
    }
    
    .brands__buttons-container-next {
        background-color: transparent;
        position: relative;
        right: 5px;
        display: flex;
    }

    .brands__buttons-container-prev {
        background-color: transparent;
        position: relative;
        left: 5px;
        display: flex;
    }
} 
