.workprocess {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 90px 0;
    background-color: #1d1d24;
    color: #fff;
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.workprocess-column {
    width: 50%;
    background-color: #444;
    padding: 20px;
    margin-bottom: 20px;
    color: #fff;
    border: 1px solid #777;
    border-radius: 10px;
}

.workprocess-heading {
    font-size: 24px;
    font-weight: bold;
    color: #ff9900;
}

.workprocess-description {
    font-size: 18px;
}

.workprocess-spacer {
    height: 20px;
}
