
.service-wrapper {
    text-align: center;
    margin: 20px;
}

.service-title {
    margin-bottom: 10px;
    color: white;
}

.service-description {
    margin-bottom: 20px;
    color : #b8b8b8 ;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.image-container img {
    width: 60%;
    margin: 0 70px;
}

.service-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.service-heading {
    margin: 10px 0;
    color: white;
}

.service-container ul {
    list-style-type: none;
    padding: 0;
}

.service-container li {
    margin-bottom: 5px;
    color : #b8b8b8 ;
}

.arrow-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.arrow {
    width: 20px;
    height: 20px;
    background-color: gray;
    margin: 0 10px;
    cursor: pointer;
}

.arrow-left {
    transform: rotate(-45deg);
}

.arrow-right {
    transform: rotate(135deg);
}

.service-main-wrapper{
 background-color: #23232b;
}

