.service-wrapper {
    background: url("../img/services/title-background.svg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.service-title {
    font-family: var(--title-font);
    font-size: 2.125rem;
    font-weight: 500;
    text-align: center;
    color: var(--title-color);

}

.service-description {
    font-family: var(--text-font);
    font-size: 1.1875em;
    font-weight: 700;
    line-height: 1.745625em;
    text-align: center;
    margin-top: 20px;
    color: var(--subtitle-color);
}

.image-container img {
    width: 100%;
    height: auto;
    margin: 10px;
    border-radius: 20px;
    height: 300px;

}

.service-heading {
    color: var(--title-color);
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.54em;
}

.service-container ul {
    list-style-type: none;
    padding: 0;
}

.service-container li {
    margin-bottom: 10px;
    color: #b8b8b8;
    font-size: 20px;
    position: relative;
    padding-left: 20px;
    font-family: "Roboto", Arial, sans-serif;
}

.service-container li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    border: 1px solid yellow;
    border-radius: 50%;
    background-color: transparent;
    z-index: 1;
}

.service-container li span {
    display: inline-block;
    position: relative;
    z-index: 2;
}

.arrow-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.arrow {
    width: 20px;
    height: 20px;
    background-color: gray;
    margin: 0 10px;
    cursor: pointer;
}

.arrow-left {
    transform: rotate(-45deg);
}

.arrow-right {
    transform: rotate(135deg);
}

.service-main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 90px 0;
    background: url("../img/services/services-background.png");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media (min-width: 767px) and (max-width: 991px) {

    .service-title{
        font-size: 2.5625rem;
    }
}

@media (min-width: 992px) {

    .service-title{
        font-size: 3rem;
    }
}