<section>
    <div class="call-to-action">
        <div class="call-to-action__all-text">
        <h2 class="сall-to-action__title" >Let's Create Something Awesome Together!</h2>
        <p class="сall-to-action__text" >Feel free to send us an email at <a href="#" data-action="about-us__call-to-action-email" class="about-us__call-to-action-link-email"><u>grotesque@email.com</u></span></a></p>
        </div>
        <div calss="сall-to-action__button-cantacts-conteiner"><a  class="сall-to-action__button-cantacts"  href="/contacts.html">Call Me Back</a></div>
    </div>
</section>