<section>
    <h2>We are hiring!</h2>
    <p>Create a great career to build your expertise and passion for great design.</p>
    <p>Our close-knit team is a fast-moving group of digital mavens who bring energy and passion to our progressive, fast-paced, and dynamic company.</p>
    <p>At Grotesque, every voice counts, creativity is valued, and each team member matters.</p>
    <h3>Our culture</h3>
    <ul>
        <li>We listen to one another;</li>
        <li>We work smart;</li>
        <li>We manage with resilience;</li>
        <li>We allow our inspiration and perseverance guide us;</li>
        <li>We care about our clients, about our work, and about each other;</li>
        <li>Our clients are our friends.</li>
    </ul>
    <h3>Our vision</h3>
    <p>Our goal is to develop high-quality websites and apps for our customers that will remain relevant in a few years.</p>
    <p>We believe in the systematic development and promotion of online businesses using the entire marketing mix.</p>
    <a href="#">Send CV</a>

    <div>
        <article>
            <div>
                <img width="26" src="img/about-us/hiring/pc-guy-icon.svg" alt="Guy with a PC icon">
            </div>
            <h3>Flexibility</h3>
            <p>You can work wherever and whenever you want.</p>
        </article>
        <article>
            <div>
                <img width="26" src="img/about-us/hiring/training-icon.svg" alt="Training icon">
            </div>
            <h3>Gym Membership</h3>
            <p>The company covers your expenses on the gym.</p>
        </article>
        <article>
            <div>
                <img width="26" src="img/about-us/hiring/coffee-icon.svg" alt="Coffee break icon">
            </div>
            <h3>Breakfast Mondays</h3>
            <p>Monday morning is the time to chat with your team.</p>
        </article>
        <article>
            <div>
                <img width="26" src="img/about-us/hiring/vacation-icon.svg" alt="Vacation icon">
            </div>
            <h3>Generous Vacation</h3>
            <p>You get 30 days of vacation per year plus sick leaves.</p>
        </article>
        <article>
            <div>
                <img width="26" src="img/about-us/hiring/pointer-icon.svg" alt="Pointer icon">
            </div>
            <h3>Agile Methodology</h3>
            <p>Our work process is divided into sprints.</p>
        </article>
    </div>

    <h2>Open Positions</h2>
    <p>Apply now and join our international team of web design and development experts!</p>

    <div>
        <h3>UX/UI Designer</h3>
        <p>Design</p>
        <ul>
            <li>2+ years experience</li>
            <li>Sketch, InVision, Visio, etc.</li>
            <li>Remote/hybrid work</li>
        </ul>
        <p><span class="price-decoration">$</span>4<span class="price-decoration">.</span>500</p>
        <a href="#">Send CV</a>
    </div>

    <div>
        <h3>Digital Marketing</h3>
        <p>Marketing</p>
        <ul>
            <li>SEO & SEM</li>
            <li>Communication skills</li>
            <li>5+ years experience</li>
        </ul>
        <p><span class="price-decoration">$</span>5<span class="price-decoration">.</span>200</p>
        <a href="#">Send CV</a>
    </div>

    <div>
        <h3>Web Designer</h3>
        <p>Design</p>
        <ul>
            <li>Bachelor's degree in design</li>
            <li>HTML, CSS, Javascript.</li>
            <li>2+ years experience</li>
        </ul>
        <p><span class="price-decoration">$</span>3<span class="price-decoration">.</span>500</p>
        <a href="#">Send CV</a>
    </div>
</section>