<section class="about-us-who-we-are">
    <div class="about-us-who-we-are-container container">
        <div class="about-us-who-we-are__info-block info-block">
            <div class="info-block__description description">
                <h2 class="description__header">Who We Are</h2>
                <p class="description__header-subtitle">The Grotesque agency is serving clients worldwide.
                <p class="description__text-block">We are a full-service creative web design + digital marketing company
                    under one roof. Our team of highly trained professionals will create something special to help your
                    business grow.</p>
                <p class="description__text-block">We work in close cooperation with our clients. This helps us clearly
                    understand their business potential, their audience, and objectives. We strive to deliver superior
                    solutions for any taste and budget trying to exceed our clients' expectations.</p>
            </div>
            <div class="info-block__image-container imgage-container">
                <img class="imgage-container__image" src="img/about-us/who-we-are/three-designers-choosing-color.png"
                    alt="Three designers choosing color">
            </div>
        </div>
    </div>
    <div class="about-us-who-we-are__accordion accordion container">

    </div>
</section>