<section class="positions">
    <section class="positions__title-container">
        <h2 class="positions__title">Open Positions</h2>
        <p class="positions__title-description">Apply now and join our international team of web design and development
            experts!</p>
    </section>

    <div class="positions__job-cards">
        <div class="positions__job positions__top-job">
            <h3 class="positions__job-title">UX/UI Designer</h3>
            <p class="positions__job-category">Design</p>
            <div class="positions__job-requirements">
                <div class="positions__requirement-container">
                    <img class="positions__list-circle" src="img/about-us/positions/circle.png" alt="List circle">
                    <p class="positions__requirement">2+ years experience</p>
                </div>
                <div class="positions__requirement-container">
                    <img class="positions__list-circle" src="img/about-us/positions/circle.png" alt="List circle">
                    <p class="positions__requirement">Sketch, InVision, Visio, etc.</p>
                </div>
                <div class="positions__requirement-container">
                    <img class="positions__list-circle" src="img/about-us/positions/circle.png" alt="List circle">
                    <p class="positions__requirement">Remote/hybrid work</p>
                </div>
                <p class="positions__job-salary"><span class="hiring__job-currency">$</span>4<span
                        class="positions__job-decimal">.</span>500</p>
                <a href="contacts.html" class="positions__job-link">Send CV</a>
            </div>
        </div>

            <div class="positions__job">
                <h3 class="positions__job-title">Digital Marketing</h3>
                <p class="positions__job-category">Marketing</p>
                <div class="positions__job-requirements">
                    <div class="positions__requirement-container">
                        <img class="positions__list-circle" src="img/about-us/positions/circle.png" alt="List circle">
                        <p class="positions__requirement">SEO & SEM</p>
                    </div>
                    <div class="positions__requirement-container">
                        <img class="positions__list-circle" src="img/about-us/positions/circle.png" alt="List circle">
                        <p class="positions__requirement">Communication skills</p>
                    </div>
                    <div class="positions__requirement-container">
                        <img class="positions__list-circle" src="img/about-us/positions/circle.png" alt="List circle">
                        <p class="positions__requirement">5+ years experience</p>
                    </div>
                </div>
                <p class="positions__job-salary"><span class="hiring__job-currency">$</span>5<span
                        class="positions__job-decimal">.</span>200</p>
                <a href="contacts.html" class="positions__job-link">Send CV</a>
            </div>

            <div class="positions__job">
                <h3 class="positions__job-title">Web Designer</h3>
                <p class="positions__job-category">Design</p>
                <div class="positions__job-requirements">
                    <div class="positions__requirement-container">
                        <img class="positions__list-circle" src="img/about-us/positions/circle.png" alt="List circle">
                        <p class="positions__requirement">Bachelor's degree in design</p>
                    </div>
                    <div class="positions__requirement-container">
                        <img class="positions__list-circle" src="img/about-us/positions/circle.png" alt="List circle">
                        <p class="positions__requirement">HTML, CSS, Javascript.</p>
                    </div>
                    <div class="positions__requirement-container">
                        <img class="positions__list-circle" src="img/about-us/positions/circle.png" alt="List circle">
                        <p class="positions__requirement">2+ years experience</p>
                    </div>
                </div>
                <p class="positions__job-salary"><span class="hiring__job-currency">$</span>3<span
                        class="positions__job-decimal">.</span>500</p>
                <a href="contacts.html" class="positions__job-link">Send CV</a>
            </div>
        </div>
</section>