<section>
    <div class="call-to-action">
        <h2 class="сall-to-action__title" >Let's Create Something Awesome Together!</h2>
        <p class="сall-to-action__text" >Feel free to send us an email at <a href="mailto:grotesque@email.com" data-action="about-us__call-to-action-email" class="about-us__call-to-action-link-email"><span class="about-us__call-to-action-text-brand-color" style="color:var(--about-us__call-to-action-brand-color)"><u>grotesque@email.com</u></span></a></p>
        <a  class="сall-to-action__link-to-call-me-back"  href="/contacts.html">Call Me Back</a>
    </div>
</section>