<section class="hiring">
    <h2 class="hiring__title">We are hiring!</h2>
    <p class="hiring__intro">Create a great career to build your expertise and passion for great design.</p>
    <p class="hiring__team-description">Our close-knit team is a fast-moving group of digital mavens who bring energy and passion to our progressive, fast-paced, and dynamic company.</p>
    <p class="hiring__description">At Grotesque, every voice counts, creativity is valued, and each team member matters.</p>
    <h3 class="hiring__subtitle">Our culture</h3>
    <ul class="hiring__list">
        <li class="hiring__list-item">We listen to one another;</li>
        <li class="hiring__list-item">We work smart;</li>
        <li class="hiring__list-item">We manage with resilience;</li>
        <li class="hiring__list-item">We allow our inspiration and perseverance guide us;</li>
        <li class="hiring__list-item">We care about our clients, about our work, and about each other;</li>
        <li class="hiring__list-item">Our clients are our friends.</li>
    </ul>
    <h3 class="hiring__subtitle">Our vision</h3>
    <p class="hiring__subtitle-description">Our goal is to develop high-quality websites and apps for our customers that will remain relevant in a few years.</p>
    <p class="hiring__subtitle-description">We believe in the systematic development and promotion of online businesses using the entire marketing mix.</p>
    <a href="#" class="hiring__send-cv-button">Send CV</a>

    <div class="hiring__cards">
        <article class="hiring__features">
            <div class="hiring__image-container">
                <img class="hiring__image" width="26" src="img/about-us/hiring/pc-guy-icon.svg" alt="Guy with a PC icon">
            </div>
            <h3 class="hiring__card-title">Flexibility</h3>
            <p class="hiring__card-description">You can work wherever and whenever you want.</p>
        </article>
        <article class="hiring__features">
            <div class="hiring__image-container">
                <img class="hiring__image" width="26" src="img/about-us/hiring/training-icon.svg" alt="Training icon">
            </div>
            <h3 class="hiring__card-title">Gym Membership</h3>
            <p class="hiring__card-description">The company covers your expenses on the gym.</p>
        </article>
        <article class="hiring__features">
            <div class="hiring__image-container">
                <img class="hiring__image" width="26" src="img/about-us/hiring/coffee-icon.svg" alt="Coffee break icon">
            </div>
            <h3 class="hiring__card-title">Breakfast Mondays</h3>
            <p class="hiring__card-description">Monday morning is the time to chat with your team.</p>
        </article>
        <article class="hiring__features">
            <div class="hiring__image-container">
                <img class="hiring__image" width="26" src="img/about-us/hiring/vacation-icon.svg" alt="Vacation icon">
            </div>
            <h3 class="hiring__card-title">Generous Vacation</h3>
            <p class="hiring__card-description">You get 30 days of vacation per year plus sick leaves.</p>
        </article>
        <article class="hiring__features">
            <div class="hiring__image-container">
                <img class="hiring__image" width="26" src="img/about-us/hiring/pointer-icon.svg" alt="Pointer icon">
            </div>
            <h3 class="hiring__card-title">Agile Methodology</h3>
            <p class="hiring__card-description">Our work process is divided into sprints.</p>
        </article>
    </div>
</section>
