<section class="hiring">
    <div class="container">

        <div class="hiring__information">

            <section class="hiring__info-container">
                <div class="hiring__title-container">
                    <h2 class="hiring__title">We are hiring!</h2>
                </div>
                <p class="hiring__intro">Create a great career to build your expertise and passion for great design.</p>
                <p class="hiring__team-description">Our close-knit team is a fast-moving group of digital mavens who
                    bring
                    energy and passion to our progressive, fast-paced, and dynamic company.</p>
                <p class="hiring__description">At Grotesque, every voice counts, creativity is valued, and each team
                    member
                    matters.</p>
            </section>

            <section class="hiring__info-container">
                <div class="hiring__list">
                    <h3 class="hiring__subtitle">Our culture</h3>
                    <div class="hiring__underline"></div>
                    <div class="hiring__list-item-container">
                        <div class="hiring__circle-container">
                            <img class="hiring__list-circle" src="img/about-us/hiring/circle.png" alt="List circle">
                        </div>
                        <p class="hiring__list-item">We listen to one another;</p>
                    </div>
                    <div class="hiring__list-item-container">
                        <div class="hiring__circle-container">
                            <img class="hiring__list-circle" src="img/about-us/hiring/circle.png" alt="List circle">
                        </div>
                        <p class="hiring__list-item">We work smart;</p>
                    </div>
                    <div class="hiring__list-item-container">
                        <div class="hiring__circle-container">
                            <img class="hiring__list-circle" src="img/about-us/hiring/circle.png" alt="List circle">
                        </div>
                        <p class="hiring__list-item">We manage with resilience;</p>
                    </div>
                    <div class="hiring__list-item-container">
                        <div class="hiring__circle-container">
                            <img class="hiring__list-circle" src="img/about-us/hiring/circle.png" alt="List circle">
                        </div>
                        <p class="hiring__list-item">We allow our inspiration and perseverance guide us;</p>
                    </div>
                    <div class="hiring__list-item-container">
                        <div class="hiring__circle-container">
                            <img class="hiring__list-circle" src="img/about-us/hiring/circle.png" alt="List circle">
                        </div>
                        <p class="hiring__list-item">We care about our clients, about our work, and about each other;
                        </p>
                    </div>
                    <div class="hiring__list-item-container hiring__last-list-item-container">
                        <div class="hiring__circle-container">
                            <img class="hiring__list-circle" src="img/about-us/hiring/circle.png" alt="List circle">
                        </div>
                        <p class="hiring__list-item">Our clients are our friends.</p>
                    </div>
                </div>
            </section>

            <section class="hiring__info-container">
                <h3 class="hiring__subtitle">Our vision</h3>
                <div class="hiring__underline"></div>
                <p class="hiring__subtitle-description">Our goal is to develop high-quality websites and apps for our
                    customers
                    that will remain relevant in a few years.</p>
                <p class="hiring__vision-description">We believe in the systematic development and promotion of online
                    businesses using the entire marketing mix.</p>
                <a href="contacts.html" class="hiring__send-cv-button">
                    <div class="hiring__button-container">Send CV</div>
                </a>
            </section>
        </div>

        <div class="animated-carousel">
            <div class="animated-carousel__inner">
                <article class="product-card">
                    <div class="hiring__image-container">
                        <img class="hiring__image" src="img/about-us/hiring/pc-guy-icon.svg" alt="Guy with a PC icon">
                    </div>
                    <h3 class="hiring__card-title">Flexibility</h3>
                    <div class="hiring__card-line"></div>
                    <p class="hiring__card-description">You can work wherever and whenever you want.</p>
                </article>
                <article class="product-card">
                    <div class="hiring__image-container">
                        <img class="hiring__image" src="img/about-us/hiring/training-icon.svg" alt="Training icon">
                    </div>
                    <h3 class="hiring__card-title">Gym Membership</h3>
                    <div class="hiring__card-line"></div>
                    <p class="hiring__card-description">The company covers your expenses on the gym.</p>
                </article>
                <article class="product-card">
                    <div class="hiring__image-container">
                        <img class="hiring__image" src="img/about-us/hiring/coffee-icon.svg" alt="Coffee break icon">
                    </div>
                    <h3 class="hiring__card-title">Breakfast Mondays</h3>
                    <div class="hiring__card-line"></div>
                    <p class="hiring__card-description">Monday morning is the time to chat with your team.</p>
                </article>
                <article class="product-card">
                    <div class="hiring__image-container">
                        <img class="hiring__image" src="img/about-us/hiring/vacation-icon.svg" alt="Vacation icon">
                    </div>
                    <h3 class="hiring__card-title">Generous Vacation</h3>
                    <div class="hiring__card-line"></div>
                    <p class="hiring__card-description">You get 30 days of vacation per year plus sick leaves.</p>
                </article>
                <article class="product-card">
                    <div class="hiring__image-container">
                        <img class="hiring__image" src="img/about-us/hiring/pointer-icon.svg" alt="Pointer icon">
                    </div>
                    <h3 class="hiring__card-title">Agile Methodology</h3>
                    <div class="hiring__card-line"></div>
                    <p class="hiring__card-description">Our work process is divided into sprints.</p>
                </article>
            </div>
            <button class="carousel__button carousel__button--prev">Назад</button>
            <button class="carousel__button carousel__button--next">Вперед</button>
        </div>
    </div>
</section>