<section>
    <div>
        <div>
            <h2>Who We Are</h2>
            <p>The Grotesque agency is serving clients worldwide.</p>
            <p>We are a full-service creative web design + digital marketing company under one roof. Our team of highly trained professionals will create something special to help your business grow.</p>
            <p>We work in close cooperation with our clients. This helps us clearly understand their business potential, their audience, and objectives. We strive to deliver superior solutions for any taste and budget trying to exceed our clients' expectations.</p>
        </div>
        <div>
            <img width="580" src="img/about-us/who-we-are/three-designers-choosing-color.png" alt="Three designers choosing color">
        </div>
    </div>
    <div>
        <div>
            <img width="50" src="img/about-us/bulb.svg" alt="Bulb idea">
            <h3>Creativity</h3>
            <span>+</span>
            <p>We believe that creative thinking can solve the impossible and push boundaries to challenge common thinking. Our task is not to quickly find the easiest solution but thoroughly research and analyze the case to create the best possible result that meets the client's business needs and attracts a new audience.</p>
        </div>
        <div>
            <img width="50" src="img/about-us/who-we-are/reward.svg" alt="Reward">
            <h3>Quality</h3>
            <span>+</span>
            <p>We can say without a doubt that the highest quality is above all for us. We pay much attention to every detail in everything we produce to exceed clients' expectations and to make sure they leave us each time inspired and satisfied.</p>
        </div>
        <div>
            <img width="50" src="img/about-us/who-we-are/wheel.svg" alt="Wheel">
            <h3>Teamwork</h3>
            <span>+</span>
            <p>Thinking and working together, we merge our power to deliver the best possible and ingenious solutions. We deliberately sustain a collaborative atmosphere where every team member’s idea is heard, considered, and appreciated to make you benefit from the final result.</p>
        </div>
        <div>
            <img width="50" src="img/about-us/who-we-are/thumbs-up.svg" alt="Thnumb up">
            <h3>Dependability</h3>
            <span>+</span>
            <p>We strive to always provide our clients with what we guarantee, to meet every deadline, and to communicate proactively. We find the right approach to your business like to our own, we endeavor to deliver services you can completely rely on.</p>
        </div>
    </div>
    
</section>