<section class="contacts">
    <div class="contacts__stay-in-touch">
    <h2> Stay In Touch </h2>
    <h3>Let's create something awesome together!</h3>
    <p>Feel free to contact us in any convenient way to discuss your project or ask any questions. Our managers will gladly provide an initial consultation and estimates. We are happy to take on projects of any complexity.  </p>
    
    <img src="img/contacts/adress-icon.svg" alt="Address">
    <h3> Address</h3>
    <p> 1801 11th Street. Suite 358.
        Denver, CO 80202</p>

    <img src="img/contacts/phone-icon.svg" alt="Phone">
    <h3> Phone</h3>
    <p> +1 (234) 567 89 00
        +1 (234) 567 89 01</p>

    <img src="img/contacts/email-icon.svg" alt="E-mail">
    <h3> E-mail</h3>
    <p> grotesque@email.com
        hr.grotesque@email.com</p>

    
    
    
    <div class="contacts__form-container">
        
        <form action="https://formspree.io/f/xoqoqjrn" method="post">
            <input type="text" placeholder="Enter your full name*" name="full-name" required>
            <input type="tel" placeholder="Enter your phone number*" name="phone number" required>
            <input type="email" placeholder="Enter your email*" name="email" required>
            <input type="text" placeholder="Type your message*" name="message" required>
            <input type="submit" value="Request a quote">
        </form>
    </div>
    <div class="contacts__map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d392562.93199464126!2d-105.18476937969075!3d39.76440058495333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876b80aa231f17cf%3A0x118ef4f8278a36d6!2z0JTQtdC90LLQtdGALCDQmtC-0LvQvtGA0LDQtNC-LCDQodC_0L7Qu9GD0YfQtdC90ZYg0KjRgtCw0YLQuCDQkNC80LXRgNC40LrQuA!5e0!3m2!1suk!2sua!4v1688731550789!5m2!1suk!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    
</section>