<section class="footer">
<img src="img/index/footer/main-logo.svg" alt="logo" width="168">
<p> We are a full-service creative web design, development, and digital marketing company under one roof. We offer a variety of digital services for our clients worldwide.</p>
<p>Feel free to call us: +1 (234) 567 89 00</p>

<img src="img/index/footer/instagram-icon.svg" alt="instagram">
<p>FOLLOW US NOW</p>
<h3> instagram.com/grotesque</h3>

<img src="img/index/footer/facebook-icon.svg" alt="facebook">
<p>SUBSCRIBE US NOW</p>
<h3> facebook.com/grotesque</h3>

<img src="img/index/footer/youtube-icon.svg" alt="youtube">
<p>WATCH US NOW</p>
<h3> youtube.com/grotesque</h3>

<img src="img/index/footer/twitter-icon.svg" alt="twitter">
<p>READ US NOW</p>
<h3> twitter.com/grotesque</h3>

<!-- Копіпас лінії-->>
<div class="divider-component divider-component_1aY" style="height:1px;width:100%;background-color:rgba(180, 180, 180, 0.25)"></div>

<ul>
    <li a href="#">About us</li>
    <li a href="#">Services</li>
    <li a href="#">Cases</li>
    <li a href="#">Events</li>
    <li a href="#">Contacts</li>
  </ul>

  <p>© Created by | All rights Reserved</p>
  
</section>