<nav class="header__nav">
  <div class="navigation">
    <div class="navigation__menu">
      <div class="navigation__menu-logo">
        <a href="#">
          <img src="#" alt="#">
        </a>
      </div>
      <div class="navigation__menu-burger">
        <span></span>
      </div>
    </div>
    <div class="navigation__wraper">
      <div class="navigation__wraper-pages">
        <a href="about-us.html" class="navigation__wraper-pages-aboutus header__menu-link">About us</a>
        <a href="services.html" class="navigation__wraper-pages-services header__menu-link">Services</a>
        <a href="cases.html" class="navigation__wraper-pages-cases header__menu-link">Cases</a>
        <a href="contacts.html" class="navigation__wraper-pages-contacts header__menu-link">Contacts</a>
      </div>
      <div class="navigation__wraper-social">
        <a href="https://www.facebook.com/" class="navigation__wraper-pages-facebook header__menu-link">
          <img src="img/header-nav/facebook.svg" alt="Facebook">
        </a>
        <a href="https://www.instagram.com/" class="navigation__wraper-pages-instagram header__menu-link">
          <img src="img/header-nav/instagram.svg" alt="Instagram">
        </a>
        <a href="https://www.twitter.com/" class="navigation__wraper-pages-twitter header__menu-link">
          <img src="img/header-nav/twitter.svg" alt="Twitter">
        </a>
        <a href="https://www.youtube.com/" class="navigation__wraper-pages-youtube header__menu-link">
          <img src="img/header-nav/youtube.svg" alt="Youtube">
        </a>
      </div>
    </div>
  </div>
</nav>