<section>
 <style>
  body {
   text-align: center;
   margin: 20px;
  }

  h1 {
   margin-bottom: 10px;
  }

  p {
   margin-bottom: 20px;
  }

  .image-container {
   display: flex;
   justify-content: center;
   margin-bottom: 20px;
  }

  .image-container img {
   width: 60%;

   margin: 0 70px;
  }

  h2 {
   margin: 10px 0;
  }

  .service-container {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   margin-top: 20px;

  }

  .service-container ul {
   list-style-type: none;
   padding: 0;
  }

  .service-container li {
   margin-bottom: 5px;
  }

  .wrapper{

  }

 </style>

 <div class="wrapper">
  <h2>Our Services</h2>
   <p>We offer all kinds of services related to web development, design, and digital marketing.</p>
 </div>

 <div class="image-container">
  <div class="service-container">
   <img src="img/services/templaptop.png" alt="Modern laptop with versatile capabilities">
   <h2>Business Strategy and Planning</h2>
   <ul>
    <li>Discover and planning</li>
    <li>Brand positioning</li>
    <li>Information architecture</li>
    <li>Content strategy</li>
   </ul>
  </div>
  <div class="service-container">
   <img src="img/services/templaptop.png" alt="Powerful gaming laptop">
   <h2>All Kinds of Designed Services</h2>
   <ul>
    <li>Website design</li>
    <li>Logo design</li>
    <li>UI/UX design</li>
    <li>Print design</li>
   </ul>
  </div>
 </div>
</section>