<section class="who-we-are">

    <div class="who-we-are__picture-text">
            <img class="who-we-are__img-working-on-project" 
                alt="who-we-are__img-working-on-project" 
                src="/img/index/who-we-are/img-working-on-project.png">
                
            <div class="who-we-are__all-text">
                    <h2 class="who-we-are__title">Who We Are</h2>
                    <h3 class="who-we-are__title-of-text">The Grotesque agency is serving clients worldwide.</h3>
                    <p class="who-we-are__text"> We are a full-service creative web design and digital marketing company under one roof. Our team of highly trained professionals will create something special to help your business grow. We work in close cooperation with our clients. This helps us clearly understand their business potential, their audience, and objectives. We strive to deliver superior solutions for any taste and budget trying to exceed our clients' expectations.</p>
                    <div class="who-we-are__button-about-us-container"><a class="who-we-are__button-about-us" href="/about-us.html">More about us</a></div>
            </div>
    </div>

    <div class="who-we-are__cards">
            <div class="who-we-are__cards-container">
                <div class="who-we-are__cards-box"> 
                    <article class="who-we-are__card">
                    <h3 class="who-we-are__card-title">700<a class="who-we-are__card-title-plus" href="#">+</a></h3>
                    <div class="who-we-are__line"></div>
                    <p class="who-we-are__card-text">hours of practice in creating award-winning digital solutions.</p>
                    </article></div>
                <div class="who-we-are__cards-box">
                    <article class="who-we-are__card">
                        <h3 class="who-we-are__card-title">3.000k</h3>
                        <div class="who-we-are__line"></div>
                        <p class="who-we-are__card-text">high-level projects successfully performed and delivered.</p>
                    </article>
                </div>
                <div class="who-we-are__cards-box">
                    <article class="who-we-are__card">
                        <h3 class="who-we-are__card-title">1.5k</h3>
                        <div class="who-we-are__line"></div>
                        <p class="who-we-are__card-text">websites designed and launched by the Grotesque experts.</p>
                    </article>
                </div>
                <div class="who-we-are__cards-box">
                    <article class="who-we-are__card">
                        <h3 class="who-we-are__card-title">280</h3>
                        <div class="who-we-are__line"></div>
                        <p class="who-we-are__card-text">highly trained people in design, development, and marketing.</p>
                    </article>
                </div>
              </div>
    </div>

</section>
