<section class="brands">
    <div class="brands__title__container">
        <h2 class="brands__title">Let's Create Something Awesome Together!</h2>
        <p class="brands__subtitle">Feel free to contact us to discuss your project.</p>
        <p class="brands__subtitle"><u><a style="color: #f2b950;" href="#">+1(234)5678900</a></u> or <u><a style="color: #f2b950;" href="#">grotesque@email.com</a></u></p>
    </div>

 
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item  active">
            <img class="brands__carousel-item-image" src="img/index/brands/vue.svg" alt="VUE">
          </div>
          <div class="carousel-item">
            <img class="brands__carousel-item-image" src="img/index/brands/blink.svg" alt="Blink">
          </div>
          <div class="carousel-item">
            <img class="brands__carousel-item-image" src="img/index/brands/nike.svg" alt="Nike">
          </div>
          <div class="carousel-item">
            <img class="brands__carousel-item-image" src="img/index/brands/the-cw.svg" alt="The CW">
          </div>
          <div class="carousel-item">
            <img class="brands__carousel-item-image" src="img/index/brands/adidas.svg" alt="Adidas">
          </div>
          <div class="carousel-item">
            <img class="brands__carousel-item-image" src="img/index/brands/caractere.svg" alt="Caractere">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
 
<!--
    <div class="brands__carousel">
        <div class="brands__carousel-item container">
            <div class="brands__carousel-item-container">
                <img class="brands__carousel-item-image" src="img/index/brands/vue.svg" alt="VUE">
            </div>
        </div>
        <div class="brands__carousel-item container">
            <div class="brands__carousel-item-container">
                <img class="brands__carousel-item-image" src="img/index/brands/blink.svg" alt="Blink">
            </div>
        </div>
        <div class="brands__carousel-item container">
            <div class="brands__carousel-item-container">
                <img class="brands__carousel-item-image" src="img/index/brands/nike.svg" alt="Nike">
            </div>
        </div>
        <div class="brands__carousel-item container">
            <div class="brands__carousel-item-container">
                <img class="brands__carousel-item-image" src="img/index/brands/the-cw.svg" alt="The CW">
            </div>
        </div>
        <div class="brands__carousel-item container">
            <div class="brands__carousel-item-container">
                <img class="brands__carousel-item-image" src="img/index/brands/adidas.svg" alt="Adidas">
            </div>
        </div>
        <div class="brands__carousel-item container">
            <div class="brands__carousel-item-container">
                <img class="brands__carousel-item-image" src="img/index/brands/caractere.svg" alt="Caractere">
            </div>
        </div>
        <button class="carousel__button carousel__button--left" type="button"><</button>
        <button class="carousel__button carousel__button--right" type="button">></button>
        
    </div>
-->
    
</section>