<section>

 <!--Add CSS-->
 <link rel="stylesheet" type="text/css" href="css/index.services.css">
 <!--Finish CSS-->

 <div class="wrapper">
  <h2>Our Services</h2>
   <p>We offer all kinds of services related to web development, design, and digital marketing.</p>
 </div>

 <div class="image-container">
  <div class="service-container">
   <img src="img/services/templaptop.png" alt="Modern laptop with versatile capabilities">
   <h2>Business Strategy and Planning</h2>
   <ul>
    <li>Discover and planning</li>
    <li>Brand positioning</li>
    <li>Information architecture</li>
    <li>Content strategy</li>
   </ul>
  </div>
  <div class="service-container">
   <img src="img/services/templaptop.png" alt="Powerful gaming laptop">
   <h2>All Kinds of Designed Services</h2>
   <ul>
    <li>Website design</li>
    <li>Logo design</li>
    <li>UI/UX design</li>
    <li>Print design</li>
   </ul>
  </div>
 </div>

</section>