<section>
    <h2> Mobile-First Approach</h2>
    <h4> We create web designs that look great on any device.</h4>
    <p> The Grotesque team is aware that the lion's share of users browse the Internet from their smartphones. 
        Therefore, we create only responsive websites that look great on any screen.</p>
    <div>
        <img src="img/index/mobilefirst/pc-mouse.svg" alt="PC-mouse with dollar" width="20">
        <h3> High Conversion Rate </h3>
        <p> We develop websites that bring you real customers. </p>
     </div>
     <div>
        <img src="img/index/mobilefirst/suitcase.svg" alt="Suitcase and horn" width="20">
        <h3> Integrated Analytics and CRM </h3>
        <p> You will get complete data about each customer and order. </p>
     </div>
    <div> 
    
    </div>
</section>