<section>
<header class="header">
 <div class="header__logo">
   <a href="#">MyWebsite</a>
 </div>
 <nav class="header__nav">
   <button class="header__burger-menu" type="button">
     <span class="header__burger-line"></span>
     <span class="header__burger-line"></span>
     <span class="header__burger-line"></span>
   </button>
   <ul class="header__menu">
     <li class="header__menu-item">
       <a href="#home" class="header__menu-link">About us</a>
     </li>
     <li class="header__menu-item">
       <a href="#about" class="header__menu-link">Services</a>
     </li>
     <li class="header__menu-item">
       <a href="#services" class="header__menu-link">Cases</a>
     </li>
     <li class="header__menu-item">
       <a href="#contact" class="header__menu-link">Contacts</a>
     </li>
   </ul>
 </nav>
 <div class="header__hero">
     <h1>Sample Website</h1>
 </div> 
</header>
</section>