<section class="brands">
    <div class="brands__title__container">
        <h2 class="brands__title">Let's Create Something Awesome Together!</h2>
        <p class="brands__subtitle">Feel free to contact us to discuss your project.</p>
        <p class="brands__subtitle"><a style="color: #f2b950;" href="#">+1(234)5678900</a> or <a style="color: #f2b950;" href="#">grotesque@email.com</a></p>
    </div>
    <div class="brands__carousel">
        <div class="brands__carousel-track-container">
            <ul class="brands__carousel-track">
                <li class="brands__carousel-item">
                    <div class="brands__carousel-item-container">
                        <img class="brands__carousel-item-image" width="189" src="img/index/brands/vue.svg" alt="VUE">
                    </div>
                </li>
                <li class="brands__carousel-item">
                    <div class="brands__carousel-item-container">
                        <img class="brands__carousel-item-image" width="189" src="img/index/brands/blink.svg" alt="Blink">
                    </div>
                </li>
                <li class="brands__carousel-item">
                    <div class="brands__carousel-item-containerr">
                        <img class="brands__carousel-item-image" width="189" src="img/index/brands/nike.svg" alt="Nike">
                    </div>
                </li>
                <li class="brands__carousel-item">
                    <div class="brands__carousel-item-container">
                        <img class="brands__carousel-item-image" width="189" src="img/index/brands/the-cw.svg" alt="The CW">
                    </div>
                </li>
                <li class="brands__carousel-item">
                    <div class="brands__carousel-item-container">
                        <img class="brands__carousel-item-imagee" width="189" src="img/index/brands/adidas.svg" alt="Adidas">
                    </div>
                </li>
                <li class="brands__carousel-item">
                    <div class="brands__carousel-item-container">
                        <img class="brands__carousel-item-image" width="189" src="img/index/brands/caractere.svg" alt="Caractere">
                    </div>
                </li>
            </ul>
        </div>
        <button class="carousel__button carousel__button--left" type="button"><</button>
        <button class="carousel__button carousel__button--right" type="button">></button>
        
        <div class="carousel__navigation">
            <button class="carousel__indicator carousel__indicator--active" type="button" data-slide-to="0"></button>
            <button  class="carousel__indicator" type="button" data-slide-to="1"></button>
            <button  class="carousel__indicator" type="button" data-slide-to="2"></button>
            <button  class="carousel__indicator" type="button" data-slide-to="3"></button>
            <button  class="carousel__indicator" type="button" data-slide-to="4"></button>
            <button  class="carousel__indicator" type="button" data-slide-to="5"></button>
        </div>
    </div>
</section>