<section class="events">
    <h2 class="events__title">Upcoming events</h2>
    <p class="events__description">Our experts constantly participate in conferences and online workshops</p>

    <div class="events__list">
        <section class="events__event">
            <img class="events__image" width="200" src="img/index/events/creating-a-work-plan.png" alt="Work plan">
            <h3 class="events__event-title">UX Design</h3>
            <p class="events__event-description">UX Trends Shaping the Industry in 2022</p>
            <ul class="events__event-details">
                <li class="events__event-date">September, 20, 2022</li>
                <li class="events__event-time">06:30 pm - 07:30pm</li>
            </ul>
            <a class="events__event-signup-link" href="#">Sign Up</a>
        </section>

        <section class="events__event">
            <img class="events__image" width="200" src="img/index/events/laughing-team.png" alt="Laughing team">
            <h3 class="events__event-title">Branding</h3>
            <p class="events__event-description">Why Are Brand Values So Important?</p>
            <ul class="events__event-details">
                <li class="events__event-date">October, 12, 2022</li>
                <li class="events__event-time">03:30 pm - 07:30pm</li>
            </ul>
            <a class="events__event-signup-link" href="#">Sign Up</a>
        </section>

        <section class="events__event">
            <img class="events__image" width="200" src="img/index/events/people-discuss.png" alt="Discussion">
            <h3 class="events__event-title">UX Design</h3>
            <p class="events__event-description">User Interface Design for E-commerce</p>
            <ul class="events__event-details">
                <li class="events__event-date">December, 08, 2022</li>
                <li class="events__event-time">06:30 pm - 08:30pm</li>
            </ul>
            <a class="events__event-signup-link" href="#">Sign Up</a>
        </section>

        <section class="events__event">
            <img class="events__image" width="200" src="img/index/events/gadgets-on-the-table.png"
                alt="Gadgets on the table">
            <h3 class="events__event-title">UX Design</h3>
            <p class="events__event-description">Travel App: Types, Features, & Projections</p>
            <ul class="events__event-details">
                <li class="events__event-date">March, 01, 2023</li>
                <li class="events__events-time">02:30 pm - 07:30pm</li>
            </ul>
            <a class="events__event-signup-link" href="#">Sign Up</a>
        </section>
    </div>
</section>