
<section>
 <div class="service-main-wrapper">

 <div class="service-wrapper">
  <h1 class="service-title">Our Services</h1>
  <p class="service-description">We offer all kinds of services related to web development, design, and digital marketing.</p>
 </div>

 <div class="image-container">
  <div class="service-container">
   <img src="img/services/buisnesplanandlerning.png" alt="Modern laptop with versatile capabilities">
   <h2 class="service-heading">Business Strategy and Planning</h2>
   <ul class="service-list">
    <li>Discover and planning</li>
    <li>Brand positioning</li>
    <li>Information architecture</li>
    <li>Content strategy</li>
   </ul>
  </div>

  <div class="service-container">
   <img src="img/services/allkindsofdisibgenservices.png" alt="Powerful gaming laptop">
   <h2 class="service-heading">All Kinds of Designed Services</h2>
   <ul class="service-list">
    <li>Website design</li>
    <li>Logo design</li>
    <li>UI/UX design</li>
    <li>Print design</li>
   </ul>
  </div>

  <div class="service-container">
   <img src="img/services/webandmobiledevelopment.png" alt="Web and mobile Development">
   <h2 class="service-heading">Web and Mobile Development</h2>
   <ul class="service-list">
    <li>Responsive websites</li>
    <li>Web applications</li>
    <li>E-commerce development</li>
    <li>Custom integrations</li>
   </ul>
  </div>

  <!--
   <div class="service-container">
    <img src="img/services/templaptop.png" alt="Digital Marketing and Advertising">
    <h2 class="service-heading">Digital Marketing and Advertising</h2>
    <ul class="service-list">
     <li>Search/display/social ads</li>
     <li>Inbound marketing</li>
     <li>Search engine optimization</li>
     <li>Direct mail</li>
    </ul>
   </div>
   -->
  </div>

  <!--
  <div class="arrow-container">
   <div class="arrow arrow-left"></div>
   <div class="arrow arrow-right"></div>
  </div>
-->
 </div>

 </section>

