<section class="mobile-first-approach">
     <div class="mobile-first-approach__container"> 
         <div class="mobile-first-approach__infoblock" >
            <h2 class="mobile-first-approach__title"> Mobile-First Approach</h2>
            <h4 class="mobile-first-approach__subtitle"> We create web designs that look great on any device.</h4>
            <p class="mobile-first-approach__info"> The Grotesque team is aware that the lion's share of users browse the Internet from their smartphones. 
        Therefore, we create only responsive websites that look great on any screen.</p>
         <div class="mobile-first-approach__article article">
               <article class="article__container">
                     <img class="article__image" src="img/index/mobilefirst/pc-mouse.svg" alt="PC-mouse with dollar">
                     <h3 class="article_name"> High Conversion Rate </h3>
                     <p class="article__info"> We develop websites that bring you real customers. </p>
               </article>
               <article class="article__container">
                     <img class="article__image" src="img/index/mobilefirst/suitcase.svg" alt="Suitcase and horn">
                     <h3 class="article__name-analytics"> Integrated Analytics and CRM </h3>
                     <p class="article__info"> You will get complete data about each customer and order. </p>
               </article>   
               <article class="article__container"> 
                    <img class="article__image" src="img/index/mobilefirst/prize.svg" alt="Looking for prize">
                    <h3 class="article_name"> Search Engine Optimization </h3>
                    <p class="article__info"> We follow Google's guidelines and take you to the SERP. </p>
            </article> 
          </div>
       </div>
            <div class="mobile-first-approach__image"> 
               <img class="iphone-screenshot" src="img/index/mobilefirst/iphone-screenshot.png" alt="Iphone screenshot">
        </div>
    </div>
</section>