<div class="awards">
    <h2 class="awards__title">Our Awards</h2>
    <p class="awards__description">Over the years of our work, we have received many awards.</p>
    <div class="awards__list">
        <div class="background-block">
            <article class="award">
                <div class="award__icon">
                    <img src="img/awards-img/letter-s.svg" alt="letter-s" class="award__icon-image">
                    <p class="award__caption">The Best Web Design <br> Agency by ALAL (2022)</p>
                </div>
            </article>
        </div>
        <div class="background-block">
            <article class="award">
                <div class="award__icon">
                    <img src="img/awards-img/key-8.svg" alt="key-8" class="award__icon-image">
                    <p class="award__caption">Top Digital Marketing <br> Experts (2021)</p>
                </div>
            </article>
        </div>
        <div class="background-block">
            <article class="award">
                <div class="award__icon">
                    <img src="img/awards-img/key-0.svg" alt="key-0" class="award__icon-image">
                    <p class="award__caption">WWA Best Advertising <br> Agency (2020)</p>
                </div>
            </article>
        </div>
        <div class="background-block">
            <article class="award">
                <div class="award__icon">
                    <img src="img/awards-img/key-00.svg" alt="key-00" class="award__icon-image">
                    <p class="award__caption">Innovative Marketing <br> Solutions (2020)</p>
                </div>
            </article>
        </div>
    </div>
</div>

