<section class="news">
    <h2 class="news__title">News &amp; Articles</h2>
    <p class="news__subtitle">Read the latest articles to learn more about web and mobile development, design, and marketing.</p>
    <div class="news__articles articles">
        <article class="articles__item">
            <img class="articles__image" width="426" height="286" src="img/index/news/color-book.png" alt="Color book">
            <span class="articles__date">TIPS | 18.10.2022</span>
            <h3 class="articles__title">How Does Color Influence Our Decisions?</h3>
            <p class="articles__content">
                The psychology of color is one of the most controversial and interesting marketing aspects, mainly because of the depth of analysis.
            </p>
            <a class="articles__button" href="#">Read More</a>
        </article>
        <article class="articles__item">
            <img class="articles__image" width="426" height="286" src="img/index/news/designers-at-laptop.png" alt="Designers working on laptop">
            <span class="articles__date">TIPS | 18.10.2022</span>
            <h3 class="articles__title">The Importance of Integrated Web Teams</h3>
            <p class="articles__content">
                Your engineers can bring you better results! Learn how to improve the engineering department to make a new step for your company growth.
            </p>
            <a class="articles__button" href="#">Read More</a>
        </article>
        <article class="articles__item">
            <img class="articles__image" width="426" height="286" src="img/index/news/designers-at-board.png" alt="Two designers at a whiteboard">
            <span class="articles__date">TIPS | 18.10.2022</span>
            <h3 class="articles__title">On-Time and On-Budget Website Design </h3>
            <p class="articles__content">
                When customers pay for a product, they want to be sure of the deadline, especially when the project is large and expensive.
            </p>
            <a class="articles__button" href="#">Read More</a>
        </article>
    </div>
</section>