<section>
    <h1>Our Strengths</h1>
    <p>We create functional and highly converting websites.</p>
    <div>
        <article>
            <div>
                <img width="40" src="img/strenghts-image/thumb-up.svg" alt="Trumb up">
            </div>
            <h3>Quolity</h3>
            <div></div>
            <p>The highest quality is above all. We pay attention to every detail in everything we produce to exceed clients' expectations and to guarantee they leave us inspired and satisfied each time.</p>
        </article>
        <article>
            <div>
                <img width="40" src="img/strenghts-image/key.svg" alt="Key">
            </div>
            <h3>Service</h3>
            <div></div>
            <p>We focus on growing companies and building brands. Our talented team of experts takes an integrated approach to help clients attract their audiences and generate meaningful results.</p>
        </article>
        <article>
            <div>
                <img width="40" src="img/strenghts-image/rocket.svg" alt="Rocket">
            </div>
            <h3>Innovation</h3>
            <div></div>
            <p>We strive for excellence in everything we do staying a step ahead of the ever-changing world through innovative thinking. We always search for new ways to drive more effective results.</p>
        </article>
    </div>
</section>