<section class="our-team">
    <div class="our-team__content container">
        <div class="our-team__title-container">
            <h2 class="our-team-title">Our Professional Team</h2>
            <p class="our-team-subtitle">Each of our employees has the necessary expertise to complete
                even the most complex client projects.</p>
        </div>
        <div class="team-columns-container">
            <div class="team-column">
                <div class="team-member">
                    <img src="img/about-us/our-professional-team/seo.png" alt="Andrew Weiss">
                    <div class="member-info">
                        <h3>Andrew Weiss <span>/ SEO</span></h3>
                        <p class="our-team-description">Andrew founded the Grotesque agency over 7 years ago after working for
                            renowned agencies such as Top Notch Designs, Unified Infotech, HUEMOR,
                            and many others. Andrew is our righteous leader and mentor.</p>
                        <p class="our-team_text-subtitle">
                            <a href="tel:+12345678901">+1 (234) 567 89 01</a> | <a href="mailto:weiss@email.com">weiss@email.com</a>
                        </p>
                    </div>
                </div>
                <div class="team-member">
                    <img src="img/about-us/our-professional-team/web-designer.png" alt="Anna Drake">
                    <div class="member-info">
                        <h3>Anna Drake <span>/ Web Designer</span></h3>
                        <p class="our-team-description">Anna is responsible for the design of your site or app. She deals not only with
                            its visual components but also with UI and UX. Her main task is to arrange
                            the project as a whole so that it is convenient and attractive for users.</p>
                        <p class="our-team_text-subtitle">
                            <a href="tel:+12345678903">+1 (234) 567 89 03</a> | <a href="mailto:drake@email.com">drake@email.com</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="team-column">
                <div class="team-member">
                    <img src="img/about-us/our-professional-team/front-end_guru.png" alt="Eva Mendez">
                    <div class="member-info">
                        <h3>Eva Mendez <span>/ Front-end guru</span></h3>
                        <p class="our-team-description">Eva is our coder and programmer rolled into one, a hero of style and code,
                            creating user interfaces. Her main task is to convert the design layout into
                            an easily readable code to make everything on the site work quickly and conveniently.</p>
                        <p class="our-team_text-subtitle">
                            <a href="tel:+12345678902">+1 (234) 567 89 02</a> | <a href="mailto:mendez@email.com">mendez@email.com</a>
                        </p>
                    </div>
                </div>
                <div class="team-member">
                    <img src="img/about-us/our-professional-team/art-director.png" alt="Oscar Hammond">
                    <div class="member-info">
                        <h3>Oscar Hammond <span>/ Art Director</span></h3>
                        <p class="our-team-description">Oscar is the head of the art direction of our company and clients' projects and is
                            responsible for the development, implementation, and control of the execution
                            of design work in accordance with internal criteria.</p>
                        <p class="our-team_text-subtitle">
                            <a href="tel:+12345678904">+1 (234) 567 89 04</a> | <a href="mailto:hammond@email.com">hammond@email.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
