<section class="workprocess">
    <div class="workprocess__content container">

        <div class="workprocess__title-container">
            <h2 class="workprocess-title">Our Work Process</h2>
            <p class="workprocess-subtitle">We are guided by clear and long-term cooperation with clients.
                Look through the process of our work.</p>
        </div>

        <br>
        <div class="flex-container">
            <div class="workprocess-column">
                <p class="workprocess__articles-container">
                    <span class="workprocess-articles">01.</span>
                <h3 class="workprocess-heading">Research</h3>
                <p class="workprocess-description">We thoroughly research and analyze the<br>
                    client's business, services, and products<br>
                    to clearly understand its potential,<br>
                    goals, and target audience. We use this <br>
                    information for further planning. </p>
            </div>

            <div class="workprocess-column">
                <p class="workprocess__articles-container">
                    <span class="workprocess-articles">02.</span>
                <h3 class="workprocess-heading">Strategy</h3>
                <p class="workprocess-description">We plan customized strategies to achieve<br>
                    the maximum conversion rate. Particular<br>
                    attention is paid to setting the keys to the<br>
                    efficient user interface and determining<br>
                    the suitable user experience.</p>
            </div>

            <div class="workprocess-column">
                <p class="workprocess__articles-container">
                    <span class="workprocess-articles">03.</span>
                <h3 class="workprocess-heading">Design</h3>
                <p class="workprocess-description">We closely cooperate with our clients to<br>
                    create projects that completely<br>
                    demonstrate the proposed work.<br>
                    Mockups are regularly improved to<br>
                    satisfy all the objectives.</p>
            </div>
        </div>

        <div class="flex-container">
            <div class="workprocess-column">
                <p class="workprocess__articles-container">
                    <span class="workprocess-articles">04.</span>
                <h3 class="workprocess-heading">Quality Assurance</h3>
                <p class="workprocess-description">Our professional QA team thoroughly<br>
                    examines every single page to ensure that<br>
                    all features perform perfectly on every<br>
                    platform, bringing the most holistic user<br>
                    experience for every visitor.</p>
            </div>

            <div class="workprocess-column">
                <p class="workprocess__articles-container">
                    <span class="workprocess-articles">05.</span>
                <h3 class="workprocess-heading">Development</h3>
                <p class="workprocess-description">We integrate the entirely custom front-end<br>
                    theme with a solid back-end foundation.<br>
                    Our tailor-made solutions are the best<br>
                    way to satisfy the project's goals and<br>
                    provide maximum flexibility.</p>
            </div>

            <div class="workprocess-column">
                <p class="workprocess__articles-container">
                    <span class="workprocess-articles">06.</span>
                <h3 class="workprocess-heading">Launch</h3>
                <p class="workprocess-description">We always do our best to offer the training<br>
                    required for a smooth transition for site<br>
                    administration. We provide post-launch<br>
                    support to guarantee that everything runs<br>
                    smoothly and fits with the client's needs.</p>
            </div>
        </div>
    </div>>
</section>