<section class="events">
    <div class="container">
        <div class="events__title-container">
            <h2 class="events__title">Upcoming events</h2>
            <p class="events__description">Our experts constantly participate in conferences and online workshops</p>
        </div>

        <div class="events__list">
            <section class="events__event">
                <div class="events__image-container">
                    <img class="events__image" src="img/index/events/creating-a-work-plan.png" alt="Work plan">
                </div>
                <div class="events__event-information">
                    <h3 class="events__event-title">UX Design</h3>
                    <p class="events__event-description">UX Trends Shaping the Industry in 2022</p>
                    <div class="events__date-container">
                        <img class="events__list-circle" src="img/index/events/circle.png" alt="List circle">
                        <p>September, 20, 2022</p>
                    </div>
                    <div class="events__time-container">
                        <img class="events__list-circle" src="img/index/events/circle.png" alt="List circle">
                        <p>06:30 pm - 07:30pm</p>
                    </div>
                    <a class="events__event-signup-link" href="contacts.html">
                        <span class="events__button-container">Sign Up</span>
                    </a>
                </div>
            </section>

            <section class="events__event">
                <div class="events__image-container">
                    <img class="events__image" src="img/index/events/laughing-team.png" alt="Laughing team">
                </div>
                <div class="events__event-information">
                    <h3 class="events__event-title">Branding</h3>
                    <p class="events__event-description">Why Are Brand Values So Important?</p>
                    <div class="events__date-container">
                        <img class="events__list-circle" src="img/index/events/circle.png" alt="List circle">
                        <p>October, 12, 2022</p>
                    </div>
                    <div class="events__time-container">
                        <img class="events__list-circle" src="img/index/events/circle.png" alt="List circle">
                        <p>03:30 pm - 07:30pm</p>
                    </div>
                    <a class="events__event-signup-link" href="contacts.html">
                        <span class="events__button-container">Sign Up</span>
                    </a>
                </div>
            </section>

            <section class="events__event">
                <div class="events__image-container">
                    <img class="events__image" src="img/index/events/people-discuss.png" alt="Discussion">
                </div>
                <div class="events__event-information">
                    <h3 class="events__event-title">UX Design</h3>
                    <p class="events__event-description">User Interface Design for E-commerce</p>
                    <div class="events__date-container">
                        <img class="events__list-circle" src="img/index/events/circle.png" alt="List circle">
                        <p>December, 08, 2022</p>
                    </div>
                    <div class="events__time-container">
                        <img class="events__list-circle" src="img/index/events/circle.png" alt="List circle">
                        <p>06:30 pm - 08:30pm</p>
                    </div>
                    <a class="events__event-signup-link" href="contacts.html">
                        <span class="events__button-container">Sign Up</span>
                    </a>
                </div>
            </section>

            <section class="events__event">
                <div class="events__image-container">
                    <img class="events__image" src="img/index/events/gadgets-on-the-table.png"
                        alt="Gadgets on the table">
                </div>
                <div class="events__event-information">
                    <h3 class="events__event-title">UX Design</h3>
                    <p class="events__event-description">Travel App: Types, Features, & Projections</p>
                    <div class="events__date-container">
                        <img class="events__list-circle" src="img/index/events/circle.png" alt="List circle">
                        <p>March, 01, 2023</p>
                    </div>
                    <div class="events__time-container">
                        <img class="events__list-circle" src="img/index/events/circle.png" alt="List circle">
                        <p>02:30 pm - 07:30pm</p>
                    </div>
                    <a class="events__event-signup-link" href="contacts.html">
                        <span class="events__button-container">Sign Up</span>
                    </a>
                </div>
            </section>
        </div>
    </div>
</section>