<section>
    <h2>Our cases</h2>
    <p>Explore our work and projects completed for our clients.</p>

        <div> <img src="" alt="our cases web design" style="width: 585px;">
            <p>Brandiing</p>
            <h3>Great house</h3>
            <p>Grotesque successfully helped a new construction company enter the engineering market.</p>
            <a href="">View Project</a>
        </div>



        <div> <p>Web design</p>
            <h3>Basside Online Store</h3>
            <p>Our experts designed an e-commerce website for the Basside company selling headphones and speakers.</p>
            <a href="">View Project</a>
            <img src="img/cases/cases-webdesign.png" alt="our cases marketing" style="width: 585px;"> </div>



        <div> <img src="img/cases/cases-marketing.png" alt="our cases branding" style="width: 585px;">
            <p>Marketing</p>
            <h3>Evelyn Mason's Training Program</h3>
            <p>Our agency has developed and implemented a set of marketing activities to promote coach Evelyn Mason.</p>
            <a href="">View Project</a>
        </div>

</section>