<section class="brands">
    <div>
    <h2>Let's Create Something Awesome Together!</h2>
    <p>Feel free to contact us to discuss your project.</p>
    <p><a href="#">+1(234)5678900</a>or <a href="#">grotesque@email.com</a></p>
    </div>
    <div>
        <span>
            <img width="189" src="img/index/brands/vue.svg" alt="VUE">
        </span>
        <span>
            <img width="189" src="img/index/brands/blink.svg" alt="blink fitnes">
        </span>
        <span>
            <img width="189" src="img/index/brands/nike.svg" alt="nike">
        </span>
        <span>
            <img width="189" src="img/index/brands/the-cw.svg" alt="The CW">
        </span>
        <span>
            <img width="189" src="img/index/brands/adidas.svg" alt="adidas">
        </span>
        <span>
            <img width="189" src="img/index/brands/caractere.svg" alt="CARACTERE">
        </span>
    </div>
</section>