<section>
    <div class="workprocess workprocesscenter">
        <h2>Our Work Process</h2>
    </div>

    <div class="flex-container">
        <div class="workprocess-column">
            <h3 class="workprocess-heading">Research</h3>
            <p class="workprocess-description">Involves the systematic investigation of<br>
                a subject or problem to gather information<br>
                and gain insights, which helps in making<br>
                informed decisions or advancing knowledge.</p>
        </div>

        <div class="workprocess-column">
            <h3 class="workprocess-heading">Design</h3>
            <p class="workprocess-description">Refers to the process of creating a plan or<br>
                blueprint for the development of a product,<br>
                system, or experience, considering aesthetics,<br>
                functionality, and user experience.</p>
        </div>
    </div>

    <div class="flex-container">
        <div class="workprocess-column">
            <h3 class="workprocess-heading">Development</h3>
            <p class="workprocess-description">Involves the creation, programming, and<br>
                implementation of software, applications,<br>
                or systems to bring an idea or concept to life<br>
                and make it functional.</p>
        </div>

        <div class="workprocess-column">
            <h3 class="workprocess-heading">Strategy</h3>
            <p class="workprocess-description">Refers to the formulation and implementation<br>
                of a plan or approach to achieve specific goals<br>
                or objectives, considering factors such as competition,<br>
                market trends, and resource allocation.</p>
        </div>
    </div>

    <div class="flex-container">
        <div class="workprocess-column">
            <h3 class="workprocess-heading">Quality Assurance</h3>
            <p class="workprocess-description">The process of ensuring that products, services,<br>
                or processes meet established standards and<br>

                customer expectations through systematic<br>
                monitoring, testing, and improvement measures.</p>
        </div>

        <div class="workprocess-column">
            <h3 class="workprocess-heading">Launch</h3>
            <p class="workprocess-description">Refers to the introduction or release of a product,<br>
                service, or project to the market or intended<br>
                audience, involving activities such as marketing,<br>
                distribution, and customer engagement.</p>
        </div>
    </div>
</section>