<section class="strengths">
    <div class="strengths__content container">

        <div class="strengths__title-container">
            <h2 class="strengths-title">Our Strengths</h2>
            <p class="strengths-subtitle">We create functional and highly converting websites.</p>
        </div>

        <div class="strengths__flex-container">
            <div class="strengths-column">
                <div class="strengths__articles-container">
                    <span class="strengths-articles strength-img1"></span>
                    <h3 class="strengths-heading">Quality</h3>
                    <div class="divider-component divider-component_1aY" ></div>
                    <p class="strengths-description">The highest quality is above all. We pay<br>
                        attention to every detail in everything we<br>
                        produce to exceed clients' expectations<br>
                        and to guarantee they leave us inspired<br>
                        and satisfied each time.</p>
                </div>
            </div>

            <div class="strengths-column">
                <div class="strengths__articles-container">
                    <span class="strengths-articles strength-img2"></span>
                    <h3 class="strengths-heading">Service</h3>
                    <div class="divider-component divider-component_1aY" ></div>
                    <p class="strengths-description">We focus on growing companies and<br>
                        building brands. Our talented team of<br>
                        experts takes an integrated approach to<br>
                        help clients attract their audiences and<br>
                        generate meaningful results.</p>
                </div>
            </div>

            <div class="strengths-column">
                <div class="strengths__articles-container">
                    <span class="strengths-articles strength-img3"></span>
                    <h3 class="strengths-heading">Innovation</h3>
                    <div class="divider-component divider-component_1aY" ></div>
                    <p class="strengths-description">We strive for excellence in everything we<br>
                        do staying a step ahead of the ever-<br>
                        changing world through innovative<br>
                        thinking. We always search for new ways<br>
                        to drive more effective results.</p>
                </div>
            </div>
        </div>
    </div>
</section>
