<section>
    <div class="who-we-are__picture-text>
        <article>
            <div>
            <img class="who-we-are__img-working-on-project" 
                width="370.6" 
                alt="Illustration" 
                data-fallback-url="//res2.weblium.site/res/633fd8f5c5253f000d44bc2f/63465b360e9512000da9b485_optimized" 
                class="w-picture__image ui-image_3aJ" 
                style="object-fit:contain;object-position:50% 50%;font-family:object-fit; contain:50% 50%" 
                src="//res2.weblium.site/res/633fd8f5c5253f000d44bc2f/63465b360e9512000da9b485_optimized?nowebp">
            </div>
            <h2 class="who-we-are__title">Who We Are</h2>
            <h3 class="who-we-are__title-of-text">The Grotesque agency is serving clients worldwide.</h3>
            <p class="who-we-are__text"> We are a full-service creative web design and digital marketing company under one roof. Our team of highly trained professionals will create something special to help your business grow. We work in close cooperation with our clients. This helps us clearly understand their business potential, their audience, and objectives. We strive to deliver superior solutions for any taste and budget trying to exceed our clients' expectations.</p>
            <a class="who-we-are__link-about-us" href="/about-us.html">More about us</a>
        </article>
    </div>

    <div class="who-we-are__cards">
        <article class="who-we-are__card">
            <h3>700+</h3>
            <p>hours of practice in creating award-winning digital solutions.</p>
        </article>

        <article class="who-we-are__card">
            <h3>3.000k</h3>
            <p>high-level projects successfully performed and delivered.</p>
        </article>

        <article class="who-we-are__card">
            <h3>1.5k</h3>
            <p>websites designed and launched by the Grotesque experts.</p>
        </article>

        <article class="who-we-are__card">
            <h3>280</h3>
            <p>highly trained people in design, development, and marketing.</p>
        </article>
    </div>
</section>