<section class="cases">
    <h2 class="cases__title">Our cases</h2>
    <p class="cases__description">Explore our work and projects completed for our clients.</p>

    <div class="case">
        <img src="img/cases/cases-branding.png" alt="our cases web design" class="case__image">
        <p class="case__category">Branding</p>
        <h3 class="case__heading">Great house</h3>
        <p class="case__description">Grotesque successfully helped a new construction company enter the engineering market.</p>
        <a href="" class="case__link">View Project</a>
    </div>

    <div class="case">
        <p class="case__category">Web design</p>
        <h3 class="case__heading">Basside Online Store</h3>
        <p class="case__description">Our experts designed an e-commerce website for the Basside company selling headphones and speakers.</p>
        <a href="" class="case__link">View Project</a>
        <img src="img/cases/cases-webdesign.png" alt="our cases marketing" class="case__image">
    </div>

    <div class="case">
        <img src="img/cases/cases-marketing.png" alt="our cases branding" class="case__image">
        <p class="case__category">Marketing</p>
        <h3 class="case__heading">Evelyn Mason's Training Program</h3>
        <p class="case__description">Our agency has developed and implemented a set of marketing activities to promote coach Evelyn Mason.</p>
        <a href="" class="case__link">View Project</a>
    </div>
</section>
