<section>
    <h2>Upcoming events</h2>
    <p>Our experts constantly participate in conferences and online workshops</p>
    
    <section>
        <img width="200" src="img/index/events/creating-a-work-plan.png" alt="Work plan">
        <h3>UX Design</h3>
        <p>UX Trends Shaping the Industry in 2022</p>
        <ul>
            <li>September, 20, 2022</li>
            <li>06:30 pm - 07:30pm</li>
        </ul>
        <a href="#">Sign Up</a>
    </section>

    <section>
        <img width="200" src="img/index/events/laughing-team.png" alt="Laughing team">
        <h3>Branding</h3>
        <p>Why Are Brand Values So Important?</p>
        <ul>
            <li>October, 12, 2022</li>
            <li>03:30 pm - 07:30pm</li>
        </ul>
        <a href="#">Sign Up</a>
    </section>

    <section>
        <img width="200" src="img/index/events/people-discuss.png" alt="Discussion">
        <h3>UX Design</h3>
        <p>User Interface Design for E-commerce</p>
        <ul>
            <li>December, 08, 2022</li>
            <li>06:30 pm - 08:30pm</li>
        </ul>
        <a href="#">Sign Up</a>
    </section>

    <section>
        <img width="200" src="img/index/events/gadgets-on-the-table.png" alt="Gadgets on the table">
        <h3>UX Design</h3>
        <p>Travel App: Types, Features, & Projections</p>
        <ul>
            <li>March, 01, 2023</li>
            <li>02:30 pm - 07:30pm</li>
        </ul>
        <a href="#">Sign Up</a>
    </section>
</section>