<section>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="https://placekitten.com/96/139" type="image/x-icon">
</head>
<body>
    <script src="https://unpkg.com/html-data-include@3.3.3/html-data-include.js"/>
</body>
</html>

<header class="header">
 <div class="header__logo">
   <a href="#">MyWebsite</a>
 </div>
 <nav class="header__nav">
   <button class="header__burger-menu" type="button">
     <span class="header__burger-line"></span>
     <span class="header__burger-line"></span>
     <span class="header__burger-line"></span>
   </button>
   <ul class="header__menu">
     <li class="header__menu-item">
       <a href="#home" class="header__menu-link">Головна</a>
     </li>
     <li class="header__menu-item">
       <a href="#about" class="header__menu-link">Про нас</a>
     </li>
     <li class="header__menu-item">
       <a href="#services" class="header__menu-link">Послуги</a>
     </li>
     <li class="header__menu-item">
       <a href="#contact" class="header__menu-link">Контакти</a>
     </li>
   </ul>
 </nav>
 <div class="header__hero">
     <h1>Sample Website</h1>
 </div> 
</header>
</section>